{% extends 'base.html' %}
{% block body %}
	<!--/main-->
	<section class="banner-bottom">
		<div class="container">
				<div class="error-404">
						<h4>404</h4>
						<p>Oops ! Nothing to See here.</p>
						<form action="#" method="post">
							<input  class="form-control" class="serch" type="search" name="serch" placeholder="Search here" required="">
							<button class="btn1">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
							<div class="clearfix"> </div>
						</form>
						<div class="error social-icons">
		
						</div>
						<a class="b-home btn" href="index.html">Back to Home</a>
					</div>
		
		</div>
	</section>
	<!--//main-->
{% endblock %}