{% extends 'base.html' %}
{% block top %}
<div class="banner-inner"></div>
{% endblock %}
{% block body %}
	<!--/main-->
{% for i in temp %}
	<section class="banner-bottom">
		<div class="container">
			<h3 class="tittle">{{ i.title }}</h3>
			<div class="row inner-sec">
				<div class="col-lg-6 about-img" data-aos="flip-right">
					<img src="/static/images/{{ i.img }}" class="img-fluid" alt="">
				</div>
				<div class="col-lg-6 about-info text-left" data-aos="flip-left" >
					<h4 class="sub-hd mb-4">{{ i.littletitle }} </h4>
					<p>{{ i.body }}</p>
					<div class="view my-4">
						<a href="{% url 'food:error' %}" class="btn btn-primary read-m">View More</a>
					</div>

					<!--<img src="/static/images/{{ i.img }}" class="img-fluid" alt="">-->
				</div>
			</div>
		</div>
	</section>
{% endfor %}
	<!--/seller-->
	<section class="grid-info-section">
		<div class="container">
			<h3 class="tittle">Best Smile</h3>
			<div class="row inner-sec">
				<ul id="flexiselDemo1">
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/1.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 1</h3>

							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/2.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 2</h3>

							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/3.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 3</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/4.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 4</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/5.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 5</h3>

							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--//seller-->
	<section class="banner-bottom">
		<div class="container-fluid">
			<h3 class="tittle">我们的实力</h3>
			<div class="row inner-sec team-sec">
				{% for i in msg %}
				<div class="col-md-6 team-main">
					<div class="row">
						
						<div class="col-md-5 team-img" data-aos="flip-right">
								<img src="/static/images/{{ i.img }}" alt=" " class="img-fluid" />
						</div>
						<div class="col-md-7 team-info text-left" data-aos="flip-left">
								<h4>{{ i.name }} </h4>
								<h6>{{ i.title }}</h6>
								<p>{{ i.body }} </p>
								<div class="row  pt-3 mt-3 team-social border-top">
									<h5 class="col-md-4 text-left">{{ i.contact }}</h5>
									<ul class="col-md-8 social_list1 text-right">

										<li>
											<a href="#" class="facebook1 ">
												<i class="fab fa-facebook-f"></i>
				
											</a>
										</li>
										<li>
											<a href="#" class="twitter2 mx-2">
												<i class="fab fa-twitter"></i>
				
											</a>
										</li>
										<li>
											<a href="#" class="dribble3">
												<i class="fab fa-dribbble"></i>
											</a>
										</li>
										
									</ul>
								</div>
						</div>
					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<!--//main-->
{% endblock %}