{% extends 'base.html' %}
{% block top %}
<div class="banner-inner"></div>
{% endblock %}
{% block body %}
	<!--/main-->
	<section class="banner-bottom">
		<div class="container">
			<h3 class="tittle">Our History</h3>
			<div class="row inner-sec">
				<div class="col-lg-6 about-img" data-aos="flip-right">
					<img src="/static/images/ab.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-lg-6 about-info text-left" data-aos="flip-left" >
					<h4 class="sub-hd mb-4">We are the Best </h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna
						aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco labor nisi ut aliquip exea commodo consequat duis
						aute irudre dolor in elit sed uta labore dolore reprehender</p>
					<p class="sup-para mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna
						aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco labor nisi ut aliquip exea commodo consequat duis
						aute irudre dolor in elit sed uta labore dolore reprehender</p>
					<div class="view my-4">
						<a href="single.html" class="btn btn-primary read-m">View More</a>
					</div>

					<img src="/static/images/banner3.jpg" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</section>
	<!--/seller-->
	<section class="grid-info-section">
		<div class="container">
			<h3 class="tittle">Best Seller</h3>
			<div class="row inner-sec">
				<ul id="flexiselDemo1">
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/1.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 1</h3>

							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/2.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 2</h3>

							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/3.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 3</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/4.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 4</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/5.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 5</h3>

							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--//seller-->
	<section class="banner-bottom">
		<div class="container-fluid">
			<h3 class="tittle">Our Experts</h3>
			<div class="row inner-sec team-sec">
				<div class="col-md-6 team-main">
					<div class="row">
						
						<div class="col-md-5 team-img" data-aos="flip-right">
								<img src="/static/images/team1.jpg" alt=" " class="img-fluid" />
						</div>
						<div class="col-md-7 team-info text-left" data-aos="flip-left">
								<h4>Angelica </h4>
								<h6>Malted wheat flake bread</h6>
								<p>Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor </p>
								<div class="row  pt-3 mt-3 team-social border-top">
									<h5 class="col-md-4 text-left">Contact</h5>
									<ul class="col-md-8 social_list1 text-right">

										<li>
											<a href="#" class="facebook1 ">
												<i class="fab fa-facebook-f"></i>
				
											</a>
										</li>
										<li>
											<a href="#" class="twitter2 mx-2">
												<i class="fab fa-twitter"></i>
				
											</a>
										</li>
										<li>
											<a href="#" class="dribble3">
												<i class="fab fa-dribbble"></i>
											</a>
										</li>
										
									</ul>
								</div>
						</div>
					</div>

				</div>
				<div class="col-md-6 team-main">
						<div class="row">
							
							<div class="col-md-5 team-img" data-aos="flip-right">
									<img src="/static/images/team2.jpg" alt=" " class="img-fluid" />
							</div>
							<div class="col-md-7 team-info text-left" data-aos="flip-left">
									<h4>Angelica </h4>
									<h6>Malted wheat flake bread</h6>
									<p>Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor </p>
									<div class="row  pt-3 mt-3 team-social border-top">
										<h5 class="col-md-4 text-left">Contact</h5>
										<ul class="col-md-8 social_list1 text-right">
	
											<li>
												<a href="#" class="facebook1 ">
													<i class="fab fa-facebook-f"></i>
					
												</a>
											</li>
											<li>
												<a href="#" class="twitter2 mx-2">
													<i class="fab fa-twitter"></i>
					
												</a>
											</li>
											<li>
												<a href="#" class="dribble3">
													<i class="fab fa-dribbble"></i>
												</a>
											</li>
											
										</ul>
									</div>
							</div>
						</div>
	
					</div>
			</div>
		</div>
	</section>
	<!--reviews_sec-->
	<section class="banner-bottom reviews_sec">
		<div class="container">
			<h3 class="tittle cen">Testimonial</h3>
			<div class="inner-sec">
				<div class="flexslider mx-auto">
					<ul class="slides">
						<li>
							<div class="row">
								<div class="col-md-3 testimonials_grid-inn">

									<img src="/static/images/t1.jpg" alt=" " class="img-fluid" />
								</div>
								<div class="col-md-9 testimonials_grid text-left">
									<h3>Gretchen
										<span>(Customer)</span>
									</h3>
									<i>United States</i>
									<p>Maecenas interdum, metus vitae tincidunt porttitor,Proin eget gravida odio. Donec ullamcorper est eu magna quam
										egestas sem, ac scelerisque nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="col-md-3 testimonials_grid-inn">

									<img src="/static/images/t2.jpg" alt=" " class="img-fluid" />
								</div>
								<div class="col-md-9 testimonials_grid text-left">
									<h3>Josephine Lee
										<span>Customer</span>
									</h3>
									<i>United States</i>
									<p>Maecenas interdum, metus vitae tincidunt porttitor,Proin eget gravida odio. Donec ullamcorper est eu magna quam
										egestas sem, ac scelerisque nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="col-md-3 testimonials_grid-inn">


									<img src="/static/images/t1.jpg" alt=" " class="img-fluid" />
								</div>
								<div class="col-md-9 testimonials_grid text-left">
									<h3>Mark Olson
										<span>Customer</span>
									</h3>
									<i>United States</i>
									<p>Maecenas interdum, metus vitae tincidunt porttitor,Proin eget gravida odio. Donec ullamcorper est eu magna quam
										egestas sem, ac scelerisque nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!---->

	<!--//main-->
{% endblock %}