{% extends 'base.html' %}
{% block top %}
<div class="banner-inner"></div>
{% endblock %}
{% block body %}
	<!--/main-->
	<section class="banner-bottom">
		<div class="container">
			<h3 class="tittle">我们的足迹</h3>
			<div class="row inner-sec">
				<div class="col-md-6 banner-btm-left">
					<div class="banner-btm-top">
						<div class="banner-btm-inner a1 text-left">
							<div class="blog_date">

								<h4>Feb.10.2018</h4>

							</div>
							<h6>
								<a href="single.html">二七广场</a>
							</h6>
							<p class="paragraph">当奶油恋上芝士，香浓的爱意沉浸在芝士的丝滑里，却因同根生而被命运阻隔，于是这份爱恋少了些许甜腻，多了一丝酸楚。幸好，有相思豆的铺撒，让原本凄凉的爱情多了无限温暖。</p>

							<a href="{% url 'food:error' %}" class="blog-btn">Know More</a>
						</div>
						<div class="banner-btm-inner a2">

						</div>
					</div>
					<div class="banner-btm-bottom">
						<div class="banner-btm-inner a3">

						</div>
						<div class="banner-btm-inner a4 text-left">
							<div class="blog_date">

								<h4>Feb.18.2019</h4>

							</div>
							<h6>
								<a href="single.html">金山区东三街</a>
							</h6>
							<p class="paragraph">粉红色的蛋糕 来自大自然的鲜明而清新的粉红色,涂抹在可爱的花朵上,还有灿烂的蝴蝶轻轻驻足。不是童话,却胜似童话。讨好味觉的艺术得到了淋漓尽致的发挥.</p>

							<a href="{% url 'food:error' %}" class="blog-btn">Know More</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 banner-btm-left">
					<div class="banner-btm-top">
						<div class="banner-btm-inner a1 text-left">
							<div class="blog_date">

								<h4>Aug.05.2017</h4>

							</div>
							<h6>
								<a href="single.html">文化路英才街</a>
							</h6>
							<p class="paragraph">香浓细滑的巧克力和奶油，再加上酥脆的姜饼干，口感丰富层次鲜明。搭配上一杯清甜的果香红茶，清新的口感，迷人的色泽、馥郁的水果香，马上让你心旷神怡，唇齿留香。</p>
							<div class="clearfix"></div>
							<a href="{% url 'food:error' %}" class="blog-btn">Know More</a>
						</div>
						<div class="banner-btm-inner a5">

						</div>
					</div>
					<div class="banner-btm-bottom">
						<div class="banner-btm-inner a6">

						</div>
						<div class="banner-btm-inner a4 text-left">
							<div class="blog_date">

								<h4>Jan.11.2016</h4>

							</div>
							<h6>
								<a href="single.html">明德路德智街</a>
							</h6>
							<p class="paragraph">全巧克力的蛋糕 它不是最眩、最醒目的，但是总有忠实拥趸对它青睐有加。香浓诱人的巧克力口味;柔软的口感、甜蜜的味道,完美的全巧克力蛋糕经得起各种口味的挑剔.表面富有曲线美的巧克力花纹与蛋糕的名称相得益彰。</p>

							<a href="{% url 'food:error' %}" class="blog-btn">Know More</a>
						</div>
					</div>
				</div>
			 </div>
		</div>
	</section>
	<!--//main-->
{% endblock %}