{% extends 'base.html' %}
{% block top %}
<div class="banner-inner"></div>
{% endblock %}
{% block body %}
	<!--/main-->
	<section class="banner-bottom">
		<h2 style="color: darkred; text-align: center " >{{ msg }}</h2>
		<h3 class="tittle">联系我们</h3>
		<p class="sub text-center">我们喜欢讨论你的想法</p>
		<div class="ad-inf-sec">
			<div class="container">
				<div class="address row">

					<div class="col-lg-4 address-grid" data-aos="zoom-in">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-map"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>地址</h6>
								<p>address：红旗路东三街108号</p>
							</div>
						</div>

					</div>
					<div class="col-lg-4 address-grid" data-aos="zoom-in">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-envelope"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>邮箱</h6>
								<p>Email :
									<a href="mailto:example@email.com"> zk161162@163.com</a>
								</p>
							</div>

						</div>
					</div>
					<div class="col-lg-4 address-grid" data-aos="zoom-in">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="fas fa-mobile-alt"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>电话：</h6>
								<p>phone：010-3612660835</p>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="contact_grid_right">
				<form action="{% url 'food:contact' %}" method="post">
					{% csrf_token %}
					<div class="row contact_left_grid">
						<div class="col-md-6 con-left">
							<div class="form-group" data-aos="fade-down">
								<label for="validationCustom01 my-2">用户名</label>
								<input class="form-control" type="text" name="Name" disabled placeholder="{{ request.session.username }}" value="{{ request.session.username }}" required="">
							</div>
							<div class="form-group" data-aos="fade-down">
								<label for="exampleFormControlInput1">邮箱</label>
								<input class="form-control" type="email" name="Email" placeholder="" required="">
							</div>
							<div class="form-group" data-aos="fade-down">
								<label for="validationCustom03 my-2">建议</label>
								<input class="form-control" type="text" name="Subject" placeholder="" required="">
							</div>
						</div>
						<div class="col-md-6 con-right">
							<div class="form-group" data-aos="fade-down">
								<label for="textarea">详细</label>
								<textarea id="textarea" name="Detail" placeholder=""></textarea>
							</div>
							<h3 id="tip1"></h3>
							{% if request.session.username %}
								<input class="form-control"  type="submit"  value="Submit">
								<a href="" class="form-control" hidden> Submit </a>
							{% else %}
								<input class="form-control"  type="submit" hidden value="Submit">
								<a href="{% url 'food:text' %}" class="form-control"> Submit </a>
							{% endif %}
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!--//main-->
<script>

//	$('#tip').on('click',function () {
//		let $session = $('#ses').val();
//		// alert($session);
//		console.log($session)
//	})
	// 	$.ajax({
	// 		url:'/Foods/contact/',
	// 		data:{'temp':123},
	// 		type:'GET',
	// 		dateType:'json',
	// 		success (data) {
	// 			if(data.issuccess){
	// 				$('#tip1').innerText='请先登录！'
	// 			}
	// 			else {
	// 				$('#tip1').empty()
	// 			}
	// 		}
	// 	})
	// });

</script>
{% endblock %}