{% extends 'base.html' %}
<body>
	{% block top %}
	<div class="banner">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="carousel-caption">
						<h3 style="color: #F0FAEC">面包会有的，牛奶会有的，一切都会有的
						</h3>

					</div>
				</div>
				<div class="carousel-item item2">
					<div class="carousel-caption">
						<h3>凡不是就着泪水吃过面包的人是不懂得人生之味的人
						</h3>

					</div>
				</div>
				<div class="carousel-item item3">
					<div class="carousel-caption">
						<h3>酒要喝醉的，面包要吃热的
						</h3>

					</div>
				</div>
				<div class="carousel-item item4">
					<div class="carousel-caption">
						<h3>为美而献身比为面包而活着要幸福得多
						</h3>

					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	{% endblock %}
	<!--//banner-->
	<!--/nav-->
	{% block body %}
	<!--//nav-->
	<!--/inner-content-->
	<!--/banner-bottom-->
	{% if msg %}
	{% for i in msg %}

	<section class="banner-bottom">
		<div class="container">
			<h3 class="tittle">{{ i.title }}</h3>
			<div class="row inner-sec">
				<div class="col-lg-6 about-img" data-aos="flip-right">
					<img src="/static/images/{{ i.img }}" class="img-fluid" alt="">
				</div>
				<div class="col-lg-6 about-info text-left" data-aos="flip-left" >
					<h4 class="sub-hd mb-4">{{ i.littletitle }} </h4>
					<p>{{ i.body }}</p>
					<div class="view my-4">
						<a href="{% url 'food:error' %}" class="btn btn-primary read-m">View More</a>
					</div>

					<!--<img src="/static/images/{{ i.img }}" class="img-fluid" alt="">-->
				</div>
			</div>
		</div>
	</section>
	<!--//banner-bottom-->
	{% empty %}
	没有数据
	{% endfor %}
	{% endif %}
	<!--/banner-bottom-->
	<section class="grid-info-section">
		<div class="container">
			<h3 class="tittle">Best Smile</h3>
			<div class="row inner-sec">
				<ul id="flexiselDemo1">
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/1.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 1</h3>

							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/2.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 2</h3>

							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/3.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 3</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/4.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 4</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/5.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 5</h3>

							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--//banner-bottom-->
	<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >建站模板</a></div>
	<!--/Menu-->
	<section class="banner-bottom menu" id="menu">
		<div class="container">
			<h3 class="tittle">菜单</h3>
			<div class="row inner-sec">
				<div class="tabs">
					<ul class="nav nav-pills mb-5 justify-content-center" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
							    aria-selected="true">热门蛋糕</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
							    aria-selected="false">新品蛋糕</a>
						</li>

					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<div class="menu-grids my-lg-4 my-md-2">
								<div class="row inner-menu mt-4">
									 {% for i in temp1 %}
                                <div class="col-md-6 menu-grid-left" data-aos="fade-down" style="margin-bottom: 30px">
                                    <div class="row mt-2">
                                        <div class="col-md-5 menu-img">
                                            <img src="/static/img/{{ i.img }}" class="img-fluid rounded-circle" alt="">
                                        </div>
                                        <div class="col-md-7 menu-img-info mt-4 mt-md-2">
                                            <h5>{{ i.title }}</h5>
                                            <p class="sub-meta mt-2">
                                                ${{ i.price }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                 {% endfor %}
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							<div class="menu-grids my-lg-4 my-md-2">
									<div class="row inner-menu mt-4">
									{% for j in temp2 %}
                               <div class="col-md-6 menu-grid-left" data-aos="fade-down">
                                    <div class="row mt-2">
                                        <div class="col-md-5 menu-img">
                                            <img src="/static/img/{{ j.img }}" class="img-fluid rounded-circle" alt="">
                                        </div>
                                        <div class="col-md-7 menu-img-info mt-4 mt-md-2">
                                            <h5>{{ j.title }}</h5>
                                            <p class="sub-meta mt-2">
                                                {{ j.price }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
									<!--<div class="col-md-6 menu-grid-right" data-aos="fade-down">-->
										<!--<div class="row mt-2">-->
											<!--<div class="col-md-5 menu-img">-->
												<!--<img src="/static/images/2.jpg" class="img-fluid rounded-circle" alt="">-->
											<!--</div>-->
											<!--<div class="col-md-7 menu-img-info mt-4 mt-md-2">-->
												<!--<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>-->
												<!--<p class="sub-meta mt-2">-->

													<!--$98-->
												<!--</p>-->
											<!--</div>-->
										<!--</div>-->

									<!--</div>-->
								<!--</div>-->
								<!--<div class="row inner-menu mt-4">-->
									<!--<div class="col-md-6 menu-grid-left" data-aos="fade-down">-->
										<!--<div class="row mt-2">-->
											<!--<div class="col-md-5 menu-img">-->
												<!--<img src="/static/images/3.jpg" class="img-fluid rounded-circle" alt="">-->
											<!--</div>-->
											<!--<div class="col-md-7 menu-img-info mt-4 mt-md-2">-->
												<!--<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>-->
												<!--<p class="sub-meta mt-2">-->

													<!--$ 100-->
												<!--</p>-->
											<!--</div>-->
										<!--</div>-->

									<!--</div>-->
									<!--<div class="col-md-6 menu-grid-right" data-aos="fade-down">-->
										<!--<div class="row mt-2">-->
											<!--<div class="col-md-5 menu-img">-->
												<!--<img src="/static/images/4.jpg" class="img-fluid rounded-circle" alt="">-->
											<!--</div>-->
											<!--<div class="col-md-7 menu-img-info mt-4 mt-md-2">-->
												<!--<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>-->
												<!--<p class="sub-meta mt-2">-->

													<!--$ 88-->
												<!--</p>-->
											<!--</div>-->
										<!--</div>-->

									<!--</div>-->
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//Menu-->
	<!--/blog-->
	<section class="banner-bottom">
		<div class="container">
			<h3 class="tittle">我们的足迹</h3>
			<div class="row inner-sec">
				<div class="col-md-6 banner-btm-left">
					<div class="banner-btm-top">
						<div class="banner-btm-inner a1 text-left">
							<div class="blog_date">

								<h4>Feb.10.2018</h4>

							</div>
							<h6>
								<a href="single.html">二七广场</a>
							</h6>
							<p class="paragraph">当奶油恋上芝士，香浓的爱意沉浸在芝士的丝滑里，却因同根生而被命运阻隔，于是这份爱恋少了些许甜腻，多了一丝酸楚。幸好，有相思豆的铺撒，让原本凄凉的爱情多了无限温暖。</p>

							<a href="{% url 'food:error' %}" class="blog-btn">Know More</a>
						</div>
						<div class="banner-btm-inner a2">

						</div>
					</div>
					<div class="banner-btm-bottom">
						<div class="banner-btm-inner a3">

						</div>
						<div class="banner-btm-inner a4 text-left">
							<div class="blog_date">

								<h4>Feb.18.2019</h4>

							</div>
							<h6>
								<a href="single.html">金山区东三街</a>
							</h6>
							<p class="paragraph">粉红色的蛋糕 来自大自然的鲜明而清新的粉红色,涂抹在可爱的花朵上,还有灿烂的蝴蝶轻轻驻足。不是童话,却胜似童话。讨好味觉的艺术得到了淋漓尽致的发挥.</p>

							<a href="{% url 'food:error' %}" class="blog-btn">Know More</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 banner-btm-left">
					<div class="banner-btm-top">
						<div class="banner-btm-inner a1 text-left">
							<div class="blog_date">

								<h4>Aug.05.2017</h4>

							</div>
							<h6>
								<a href="single.html">文化路英才街</a>
							</h6>
							<p class="paragraph">香浓细滑的巧克力和奶油，再加上酥脆的姜饼干，口感丰富层次鲜明。搭配上一杯清甜的果香红茶，清新的口感，迷人的色泽、馥郁的水果香，马上让你心旷神怡，唇齿留香。</p>
							<div class="clearfix"></div>
							<a href="{% url 'food:error' %}" class="blog-btn">Know More</a>
						</div>
						<div class="banner-btm-inner a5">

						</div>
					</div>
					<div class="banner-btm-bottom">
						<div class="banner-btm-inner a6">

						</div>
						<div class="banner-btm-inner a4 text-left">
							<div class="blog_date">

								<h4>Jan.11.2016</h4>

							</div>
							<h6>
								<a href="single.html">明德路德智街</a>
							</h6>
							<p class="paragraph">全巧克力的蛋糕 它不是最眩、最醒目的，但是总有忠实拥趸对它青睐有加。香浓诱人的巧克力口味;柔软的口感、甜蜜的味道,完美的全巧克力蛋糕经得起各种口味的挑剔.表面富有曲线美的巧克力花纹与蛋糕的名称相得益彰。</p>

							<a href="{% url 'food:error' %}" class="blog-btn">Know More</a>
						</div>
					</div>
				</div>
			 </div>
		</div>
	</section>
	<!--//blog-->
	<!--/Gallry-->
	<section class="banner-bottom">
		<div class="container">
			<h3 class="tittle">样式</h3>
			<div class="row inner-sec">

			{% for m in temp3 %}
            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in" style="margin-bottom: 30px">
                <div class="section_1_gallery_grid" style="float: left">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/{{ m.img }}">
                        <div class="section_1_gallery_grid1">
                            <img src="/static/images/{{ m.img }}" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>{{ m.name }}</h3>
                                <!--<p>Add some text</p>-->
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
			</div>
		</div>
	</section>
	<!--//gallery-->
	<!--reviews_sec-->
	<section class="banner-bottom reviews_sec">
		<div class="container">
			<h3 class="tittle cen">荣誉</h3>
			<div class="inner-sec">
				<div class="flexslider mx-auto">
					<ul class="slides">
						{% for n in hero %}
						<li>
							<div class="row">
								<div class="col-md-3 testimonials_grid-inn">

									<img src="/static/images/{{n.img}}" alt=" " class="img-fluid" />
								</div>
								<div class="col-md-9 testimonials_grid text-left">
									<h3>{{ n.name }}
									</h3>
									<i>{{ n.title }}</i>
									<p>{{ n.body }}</p>
								</div>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!---->
	<!--//inner-content-->
	{% endblock %}