{% extends 'base.html' %}
<body>
	{% block top %}
	<div class="banner">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="carousel-caption">
						<h3>Bakers Delight Your
							<span>Local Baker</span>
						</h3>
						<img src="#">
					</div>
				</div>
				<div class="carousel-item item2">
					<div class="carousel-caption">
						<h3>Freshly baked all day
							<span>Every day!</span>
						</h3>

					</div>
				</div>
				<div class="carousel-item item3">
					<div class="carousel-caption">
						<h3>Bakers Delight Your
							<span>Local Baker</span>
						</h3>

					</div>
				</div>
				<div class="carousel-item item4">
					<div class="carousel-caption">
						<h3>Freshly baked all day
							<span>Every day!</span>
						</h3>

					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	{% endblock %}
	<!--//banner-->
	<!--/nav-->
	{% block body %}
	<!--//nav-->
	<!--/inner-content-->
	<!--/banner-bottom-->
	{% if msg %}
	{% for i in msg %}

	<section class="banner-bottom">
		<div class="container">
			<h3 class="tittle">{{ i.title }}</h3>
			<div class="row inner-sec">
				<div class="col-lg-6 about-img" data-aos="flip-right">
					<img src="/static/images/ab.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-lg-6 about-info text-left" data-aos="flip-left" >
					<h4 class="sub-hd mb-4">{{ i.littletitle }} </h4>
					<p>{{ i.body }}</p>
					<p class="sup-para mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna
						aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco labor nisi ut aliquip exea commodo consequat duis
						aute irudre dolor in elit sed uta labore dolore reprehender</p>
					<div class="view my-4">
						<a href="single.html" class="btn btn-primary read-m">View More</a>
					</div>

					<img src="/static/images/{{ i.img }}" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</section>
	<!--//banner-bottom-->
	{% empty %}
	没有数据
	{% endfor %}
	{% endif %}
	<!--/banner-bottom-->
	<section class="grid-info-section">
		<div class="container">
			<h3 class="tittle">Best Seller</h3>
			<div class="row inner-sec">
				<ul id="flexiselDemo1">
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/1.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 1</h3>

							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/2.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 2</h3>

							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/3.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 3</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/4.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 4</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="blog-item text-center">
							<img src="/static/images/5.jpg" alt=" " class="img-fluid rounded-circle" />
							<div class="floods-text">
								<h3>Item 5</h3>

							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--//banner-bottom-->
	<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >建站模板</a></div>
	<!--/Menu-->
	<section class="banner-bottom menu" id="menu">
		<div class="container">
			<h3 class="tittle">Our Menu</h3>
			<div class="row inner-sec">
				<div class="tabs">
					<ul class="nav nav-pills mb-5 justify-content-center" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
							    aria-selected="true">Hot Cake</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
							    aria-selected="false">New Cake</a>
						</li>

					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<div class="menu-grids my-lg-4 my-md-2">
								<div class="row inner-menu mt-4">
									<div class="col-md-6 menu-grid-left" data-aos="fade-down">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<img src="/static/images/1.jpg" class="img-fluid rounded-circle" alt="">
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>
												<p class="sub-meta mt-2">

													$80
												</p>
											</div>
										</div>

									</div>
									<div class="col-md-6 menu-grid-right" data-aos="fade-down">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<img src="/static/images/2.jpg" class="img-fluid rounded-circle" alt="">
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>
												<p class="sub-meta mt-2">

													$70
												</p>
											</div>
										</div>

									</div>
								</div>
								<div class="row inner-menu mt-4">
									<div class="col-md-6 menu-grid-left" data-aos="fade-down">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<img src="/static/images/3.jpg" class="img-fluid rounded-circle" alt="">
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>
												<p class="sub-meta mt-2">

													$90
												</p>
											</div>
										</div>

									</div>
									<div class="col-md-6 menu-grid-right" data-aos="fade-down">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<img src="/static/images/4.jpg" class="img-fluid rounded-circle" alt="">
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>
												<p class="sub-meta mt-2">
													$100
												</p>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							<div class="menu-grids my-lg-4 my-md-2">
									<div class="row inner-menu mt-4">
									<div class="col-md-6 menu-grid-left" data-aos="fade-down">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<img src="/static/images/1.jpg" class="img-fluid rounded-circle" alt="">
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>
												<p class="sub-meta mt-2">

													$100
												</p>
											</div>
										</div>

									</div>
									<div class="col-md-6 menu-grid-right" data-aos="fade-down">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<img src="/static/images/2.jpg" class="img-fluid rounded-circle" alt="">
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>
												<p class="sub-meta mt-2">

													$98
												</p>
											</div>
										</div>

									</div>
								</div>
								<div class="row inner-menu mt-4">
									<div class="col-md-6 menu-grid-left" data-aos="fade-down">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<img src="/static/images/3.jpg" class="img-fluid rounded-circle" alt="">
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>
												<p class="sub-meta mt-2">

													$ 100
												</p>
											</div>
										</div>

									</div>
									<div class="col-md-6 menu-grid-right" data-aos="fade-down">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<img src="/static/images/4.jpg" class="img-fluid rounded-circle" alt="">
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5>Pellentesque dui, non felis. Maecenas male non felis</h5>
												<p class="sub-meta mt-2">

													$ 88
												</p>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//Menu-->

	<!--/blog-->
	<section class="blog_sec container-fluid">
		<h3 class="tittle">Latest Blogs</h3>
		<div class="row inner-sec">
			<div class="col-lg-6 banner-btm-left">
				<div class="banner-btm-top">
					<div class="banner-btm-inner a1 text-left">
						<div class="blog_date">

							<h4>Feb.05.2018</h4>

						</div>
						<h6>
							<a href="single.html">Malted wheat flake bread</a>
						</h6>
						<p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>

						<a href="single.html" class="blog-btn" data-aos="fade-down">Know More</a>
					</div>
					<div class="banner-btm-inner a2">

					</div>
				</div>
				<div class="banner-btm-bottom">
					<div class="banner-btm-inner a3">

					</div>
					<div class="banner-btm-inner a4 text-left">
						<div class="blog_date">

							<h4>Feb.18.2018</h4>

						</div>
						<h6>
							<a href="single.html">Malted wheat flake bread</a>
						</h6>
						<p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>

						<a href="single.html" class="blog-btn" data-aos="fade-down">Know More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 banner-btm-left">
				<div class="banner-btm-top">
					<div class="banner-btm-inner a1 text-left">
						<div class="blog_date">

							<h4>Mar.25.2018</h4>

						</div>
						<h6>
							<a href="single.html">Malted wheat flake bread</a>
						</h6>
						<p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>

						<a href="single.html" class="blog-btn" data-aos="fade-down">Know More</a>
					</div>
					<div class="banner-btm-inner a5">

					</div>
				</div>
				<div class="banner-btm-bottom">
					<div class="banner-btm-inner a6">

					</div>
					<div class="banner-btm-inner a4 text-left">
						<div class="blog_date">

							<h4>Mar.30.2018</h4>

						</div>
						<h6>
							<a href="single.html">Malted wheat flake bread</a>
						</h6>
						<p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>

						<a href="single.html" class="blog-btn" data-aos="fade-down">Know More</a>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!--//blog-->
	<!--/Gallry-->
	<section class="banner-bottom">
		<div class="container">
			<h3 class="tittle">Our Gallery</h3>
			<div class="row inner-sec">

				<div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
					<div class="section_1_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/p1.jpg">
							<div class="section_1_gallery_grid1">
								<img src="/static/images/p1.jpg" alt=" " class="img-fluid" />
								<div class="proj_gallery_grid1_pos">
									<h3>Baked Food</h3>
									<p>Add some text</p>
								</div>
							</div>
						</a>
					</div>
					<div class="section_1_gallery_grid" data-aos="zoom-in">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/p2.jpg">
							<div class="section_1_gallery_grid1">
								<img src="/static/images/p2.jpg" alt=" " class="img-fluid" />
								<div class="proj_gallery_grid1_pos">
									<h3>Baked Food</h3>
									<p>Add some text</p>
								</div>
							</div>
						</a>
					</div>

				</div>
				<div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
					<div class="section_1_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/p4.jpg">
							<div class="section_1_gallery_grid1">
								<img src="/static/images/p4.jpg" alt=" " class="img-fluid" />
								<div class="proj_gallery_grid1_pos">
									<h3>Baked Food</h3>
									<p>Add some text</p>
								</div>
							</div>
						</a>
					</div>
					<div class="section_1_gallery_grid" data-aos="zoom-in">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/p5.jpg">
							<div class="section_1_gallery_grid1">
								<img src="/static/images/p5.jpg" alt=" " class="img-fluid" />
								<div class="proj_gallery_grid1_pos">
									<h3>Baked Food</h3>
									<p>Add some text</p>
								</div>
							</div>
						</a>
					</div>

				</div>
				<div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
					<div class="section_1_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/p3.jpg">
							<div class="section_1_gallery_grid1">
								<img src="/static/images/p3.jpg" alt=" " class="img-fluid" />
								<div class="proj_gallery_grid1_pos">
									<h3>Baked Food</h3>
									<p>Add some text</p>
								</div>
							</div>
						</a>
					</div>
					<div class="section_1_gallery_grid" data-aos="zoom-in">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/p2.jpg">
							<div class="section_1_gallery_grid1">
								<img src="/static/images/p2.jpg" alt=" " class="img-fluid" />
								<div class="proj_gallery_grid1_pos">
									<h3>Baked Food</h3>
									<p>Add some text</p>
								</div>
							</div>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--//gallery-->
	<!--reviews_sec-->
	<section class="banner-bottom reviews_sec">
		<div class="container">
			<h3 class="tittle cen">Testimonial</h3>
			<div class="inner-sec">
				<div class="flexslider mx-auto">
					<ul class="slides">
						<li>
							<div class="row">
								<div class="col-md-3 testimonials_grid-inn">

									<img src="/static/images/t1.jpg" alt=" " class="img-fluid" />
								</div>
								<div class="col-md-9 testimonials_grid text-left">
									<h3>Gretchen
										<span>(Customer)</span>
									</h3>
									<i>United States</i>
									<p>Maecenas interdum, metus vitae tincidunt porttitor,Proin eget gravida odio. Donec ullamcorper est eu magna quam
										egestas sem, ac scelerisque nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="col-md-3 testimonials_grid-inn">

									<img src="/static/images/t2.jpg" alt=" " class="img-fluid" />
								</div>
								<div class="col-md-9 testimonials_grid text-left">
									<h3>Josephine Lee
										<span>Customer</span>
									</h3>
									<i>United States</i>
									<p>Maecenas interdum, metus vitae tincidunt porttitor,Proin eget gravida odio. Donec ullamcorper est eu magna quam
										egestas sem, ac scelerisque nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="col-md-3 testimonials_grid-inn">


									<img src="/static/images/t1.jpg" alt=" " class="img-fluid" />
								</div>
								<div class="col-md-9 testimonials_grid text-left">
									<h3>Mark Olson
										<span>Customer</span>
									</h3>
									<i>United States</i>
									<p>Maecenas interdum, metus vitae tincidunt porttitor,Proin eget gravida odio. Donec ullamcorper est eu magna quam
										egestas sem, ac scelerisque nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!---->
	<!--//inner-content-->
	{% endblock %}