<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加英雄</title>
     <link rel="stylesheet" href="/static/css/index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading">添加角色</div>-->
      <!--<div class="panel-body">-->
        <!--<form  action="/myapp1/addhero/{{bookid}}/" method="POST" class="form-horizontal">-->
           <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<label for="bookname" class="col-sm-2 control-label">书名</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="text" class="bookname" id="bookname"  disabled value="{{book.bookname}}">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="form-group">-->
            <!--<label for="username" class="col-sm-2 control-label">名字</label>-->
            <!--<div class="col-sm-8">-->
              <!--<input type="text" class="username" id="username" placeholder="username">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label for="gender" class="col-sm-2 control-label">性别</label>-->
                <!--<div class="col-sm-8">-->
                  <!--<div class="redio">-->
                    <!--<label>-->
                       <!--<input type="radio" name="sex" id="optionsRadios1" value="男" checked>男-->
                         <!--<input type="radio" name="sex" id="optionsRadios2" value="女" checked>女-->
                    <!--</label>-->
                  <!--</div>-->
                <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-2 col-sm-10">-->
              <!--<button type="submit" class="btn btn-default">添加</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->

      <!--</div>-->
    <!--</div>-->

<div class="text">
    <h2>添加角色</h2>
    <form action="/myapp1/addhero/{{bookid}}/" method="POST">
        <!--书id：<input type="text" disabled value="{{bookid}}"><br>-->
        名字:<input type="text" name="username"><br>
        性别:<input type="radio" name="sex" checked value="男">男<input type="radio" name="sex" value="女">女<br>
        <input type="submit">
    </form>
</div>

</body>
</html>